keboola.component==1.4.3
keboola.csvwriter
keboola.json-to-csv
elasticsearch==8.10.1
dateparser
paramiko==3.4.0
retry
furl
mock
freezegun
keboola.datadirtest
pytest
faker
cryptography==36.0.2 # to supress Blowfish warnings from Paramiko
sshtunnel==0.4.0