keboola.component==1.4.3
keboola.csvwriter
keboola.json-to-csv
elasticsearch==8.10.1
dateparser
paramiko==2.8.0
retry
furl
mock
freezegun
https://bitbucket.org/kds_consulting_team/datadirtest/get/1.5.1.zip#egg=datadirtest
pytest
faker